// @import url(https://fonts.googleapis.com/css?family=Pattaya&display=swap);

@font-face {
  font-family: 'Pattaya';
  src: url('../../public/Pattaya-Regular.ttf') format('truetype');
  /* 添加其他字体格式（如 woff、woff2）的源文件 */
}

.header {
  position: relative;
  width: 100%;
  height: 100px;
  margin: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.logo {
  top: 40%;
  left: 8%;
  position: absolute;
  color: #7763fb;
  font-family: 'Pattaya';
  font-size: 3vw;
  line-height: 24px;
}
.searchContainer {
  width: 23%;
  z-index: 999;
  left: 20%;
  top: 25%;
  position: absolute;
}
.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background: #f0f2f5;

  height: 48px;
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
}
.inputSearch {
  font-size: 15px;
  box-sizing: border-box;
  color: #566470;
  width: 95%;
  height: 48px;
  flex-shrink: 0;
  border-radius: 10px;
  border: transparent;
  background: transparent;
  &:focus {
    outline: none;
  }
}
.searchResults {
  max-height: 210px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #c1c1c1;
    border-radius: 4px;
    &:hover {
      background-color: #a4a4a4;
    }
  }
}

.searchResultsList {
  cursor: pointer;
  color: #566470;
  border-top: 1px solid #d1cace;
  padding: 5% 10%;
  gap: 8%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  &:hover {
    color: #fff;
    background: #5458f7;
  }
  &.singleResult {
    border-radius: 20px;
  }
  &.firstItem {
    border-top: 0px;
    border-radius: 20px 20px 0px 0px;
  }
  &.lastItem {
    border-radius: 0px 0px 20px 20px;
  }
}

.profile {
  right: 10%;
  position: absolute;
  &:hover .profileOptions {
    display: flex;
  }
}

.profileOption {
  padding: 18px;
  &.profileName {
    cursor: pointer;
    gap: 5%;
    padding: 14px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.profileOptionPhoto {
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.profileOption.profileLogOut {
  cursor: pointer;
  padding: 15px;
  border-radius: 0px 0px 20px 20px;
}
.profileOption:hover {
  color: #fff;
  background: #5458f7;
}

.profileOptions {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  right: 0;
  width: 190px;
  background: #f6f6f6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  z-index: 999;
}
.row {
  display: flex;
  flex-direction: row;
}

.person {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 50%;
}
