.posting {
  margin-bottom: 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
  width: 85%;
  min-height: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--white, #fff);
  position: relative;
  @media (max-width: 768px) {
    width: 100%;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .quillWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 50%;
    height: 70%;
    max-width: 550px;
    max-height: 550px;
    gap: 1%;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  .uploadImageButton {
    margin-bottom: 1%;
    border: 1px solid #f0f2f5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    width: 95%;
    padding: 2%;
    display: flex;
    gap: 1%;
    align-self: center;
    cursor: pointer;
    &:hover {
      background: rgb(221, 228, 234);
    }
  }
  .thumbnailImage {
    max-width: 100px;
    margin-top: 10px;
  }
  .thumbnailContainer {
    max-height: 200px;
    overflow-y: auto;
    width: 95%;
    border: 1px solid #f0f2f5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 2%;
  }

  .thumbnailImage {
    max-width: 100px;
    max-height: 100px;
  }
  .thumbnailImageWrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .deleteButton {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 8px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: #e3e4e5;
    }
  }
  .cancelButton {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #f0f2f5;
    border: none;
    cursor: pointer;
    width: 25px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .postingPhoto {
    border-radius: 50%;
    width: 10%;
    height: 10%;
    object-fit: cover;
  }
  .postingText {
    cursor: pointer;
    text-align: left;
    direction: left;
    padding: 10px;
    color: #767676;
    font-family: Outfit;
    font-size: 1.1rem;
    line-height: 24px;
    margin-bottom: 2%;
    width: 85%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background: #f0f2f5;
    &:hover {
      background: #e3e4e5;
    }
  }

  .postingEditText {
    // margin-bottom: 0.5%;
    width: 95%;
    height: 80%;
    border-radius: 0.5rem !important;
  }

  .postingText::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #999;
  }
  .postingButton {
    z-index: 100;
    cursor: pointer;
    border-radius: 6px;
    background: #5458f7;
    width: 95%;
    height: 39.468px;
    color: #fff;
    border: 0px;
    text-align: center;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  :disabled {
    background: #dcdcdc;
    color: #ffffff;
  }
}
