.posting {
  margin-bottom: 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
  width: 85%;
  min-height: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--white, #fff);
  position: relative;
  @media (max-width: 960px) {
    width: 100%;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .quillWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 5% 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 40%;
    height: 90%;
    // max-height: 90%;
    // overflow-y: auto;
    gap: 2%;

    @media (max-width: 960px) {
      width: 50%;
      padding: 5% 1%;
      height: 50%;
    }
    @media (max-width: 600px) {
      width: 80%;
      padding: 10% 1%;
      height: 70%;
    }
    @media (max-width: 300px) {
      width: 80%;
      padding: 1% 1%;
      height: 80%;
    }
  }
  .uploadImageButton {
    margin-bottom: 1%;
    border: 1px solid #f0f2f5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    width: 95%;
    padding: 2%;
    display: flex;
    gap: 1%;
    align-self: center;
    cursor: pointer;
    &:hover {
      background: rgb(221, 228, 234);
    }
  }

  // .thumbnailContainer {
  //   overflow-y: auto;
  //   width: 95%;
  //   max-height: 300px;
  //   border: 1px solid #f0f2f5;
  //   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  //   border-radius: 0.5rem;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-wrap: wrap;
  //   gap: 2%;
  // }
  .thumbnailContainer {
    width: 95%;
    border: 1px solid #f0f2f5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    @media (max-width: 300px) {
      margin-top: 15%;
    }
  }

  .thumbnailContent {
    overflow-y: auto;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
  }

  .thumbnailImage {
    max-width: 100px;
    max-height: 100px;
    @media (max-width: 300px) {
      max-width: 80px;
      max-height: 80px;
    }
  }
  .thumbnailImageWrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .deleteButton {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 8px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: #e3e4e5;
    }
  }
  .cancelButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f0f2f5;
    border: none;
    cursor: pointer;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .postingPhoto {
    object-fit: cover;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    @media (max-width: 600px) {
      width: 45px;
      height: 45px;
    }
  }
  .postingText {
    cursor: pointer;
    text-align: left;
    direction: left;
    padding: 10px;
    color: #767676;
    font-family: Outfit;
    font-size: 1.1rem;
    line-height: 24px;
    margin-bottom: 2%;
    width: 85%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background: #f0f2f5;
    &:hover {
      background: #e3e4e5;
    }
    @media (max-width: 300px) {
      width: 75%;
    }
  }

  .postingEditText {
    width: 95%;
    min-height: 40%;
    max-height: 70%;
    border-radius: 0.5rem !important;
    @media (max-width: 960px) {
      max-height: 70%;
    }
    @media (max-width: 600px) {
      max-height: 50%;
    }
    @media (max-width: 300px) {
      max-height: 40%;
    }
  }

  .postingText::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #999;
  }
  .postingButton {
    // position: absolute;
    // bottom: 10px;
    // z-index: 100;
    cursor: pointer;
    border-radius: 6px;
    background: #5458f7;
    width: 95%;
    height: 39.468px;
    color: #fff;
    border: 0px;
    text-align: center;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  :disabled {
    background: #dcdcdc;
    color: #ffffff;
  }
}
