@import url(https://fonts.googleapis.com/css?family=Pattaya&display=swap);
.body {
  background: #f9f9f9;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.person {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 50%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post {
  position: relative;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 769px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid rgba(211, 211, 211, 0.56);
  background: #fff;
  // margin-top: 56px;
  margin-bottom: 3%;
  .editIcon {
    position: absolute;
    top: 1;
    right: 0;
    margin-right: 2%;
    display: none;
    cursor: pointer;
  }

  &:hover .editIcon {
    display: block;
  }
}

.singlePost {
  position: relative;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 769px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid rgba(211, 211, 211, 0.56);
  background: #fff;
  // margin-top: 56px;
  margin-bottom: 3%;
  margin-top: 3%;
  .singleEditIcon {
    position: absolute;
    top: 1;
    right: 0;
    margin-right: 2%;
    display: none;
    cursor: pointer;
  }
  &:hover .singleEditIcon {
    display: block;
  }
}
.firstRow {
  margin-top: 20px;
  width: 700px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  .firstRowLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .text {
    margin-left: 12.03px;
  }

  > div {
    font-family: 'Outfit';
    font-style: normal;
    line-height: 24px;
  }

  .textOne {
    font-weight: 700;
    font-size: 16px;
  }

  .textTwo {
    font-weight: 400;
    font-size: 13px;
    color: #919191;
  }

  .circle {
    width: 76.444px;
    height: 74px;
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 50%;
  }
}
.secondRow {
  margin-top: 1.5%;
  margin-bottom: 2%;
  width: 90%;
  min-height: 100px;
  font-family: 'Outfit';
  font-size: 1rem;
  line-height: 24px;
  color: #000000;
  // white-space: pre-line;
}
.editContainer {
  width: 90%;
  margin: 2% 0;
}
.editTextarea {
  width: 100%;
  height: 50vh;
}
.editButtonGroup {
  gap: 2%;
  width: 90%;
  display: flex;
  border: 0px;
}
.editButton {
  cursor: pointer;
  color: white;
  width: 15%;
  border: 0px;
  border-radius: 6px;
}
.readMoreButton {
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

.thirdRow {
  width: 700px;
  height: 50px;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.fourRow {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 700px;
  height: 50px;
  text-align: right;
  color: #5c5c5c;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fiveRow {
  width: 700px;
  height: 90px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  .person {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .selfComment {
    padding: 0px 20px;
    box-sizing: border-box;
    width: 640px;
    height: 50px;
    background: #f0f2f5;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #777777;
  }
  .inputComment {
    // padding: 0px 20px;
    box-sizing: border-box;
    width: 640px;
    height: 50px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #777777;
    &:focus {
      outline: none;
    }
  }
}

// 網友留言
.comments {
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin-top: 2%;
}
.commentContainer {
  padding: 15px 0px;
  gap: 2%;
  width: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .commentContent {
    flex-direction: column;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1%;
    .commentTime {
      margin-top: 3%;
      color: #525252;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    .commentContentSquare {
      border-radius: 20px;
      background: rgba(217, 217, 217, 0.32);
      padding: 5px 15px;
      .commentUserName {
        color: #525252;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }
      .commentText {
        color: #525252;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
  .commentUserImage {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
    filter: brightness(1) drop-shadow(0 0 0 rgba(255, 165, 0, 0.8));
  }
  50% {
    transform: scale(3);
    filter: brightness(1.5) drop-shadow(0 0 20px rgba(255, 165, 0, 0.8));
  }
  100% {
    transform: scale(1);
    filter: brightness(1) drop-shadow(0 0 0 rgba(255, 165, 0, 0.8));
  }
}
.likedHeart {
  animation: heartBeat 0.6s ease;
}
.imageWrapper {
  object-fit: cover;
  max-width: 30%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.6s;
  &:hover {
    transform: scale(1.6);
  }
}
.imageWrapperHorizontal {
  margin-top: 1%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  align-items: center;
  justify-content: flex-start;
}

.uploadImageButton {
  margin-bottom: 1%;
  border: 1px solid #f0f2f5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: 100%;
  padding: 2%;
  display: flex;
  gap: 1%;
  align-self: center;
  cursor: pointer;
  &:hover {
    background: rgb(221, 228, 234);
  }
}
.thumbnailImage {
  max-width: 100px;
  margin-top: 10px;
}
.thumbnailContainer {
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  border: 1px solid #f0f2f5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 2%;
}

.thumbnailImage {
  max-width: 100px;
  max-height: 100px;
}
.thumbnailImageWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
.deleteButton {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 8px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #e3e4e5;
  }
}
.fadeBlack {
  filter: brightness(0.7);
}

.photoReadMoreButton {
  border: 0px;
  background-color: transparent;
  border-radius: 10px;
  z-index: 3;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  bottom: 35%;
  right: 5%;
  width: 30%;
}
