.ql-container {
  font-size: 16px !important;
  border-radius: 0.5em !important;
  border: 0px !important;
  background: #f0f2f5 !important;
  height: 80% !important;
  padding: 3%;
}

.ql-editor .ql-snow {
  border: 0px !important;
  font-size: 18px;
  line-height: 24px;
  color: #767676;
  border-radius: 0.5em !important;
  background: #f0f2f5 !important;
}

.ql-toolbar {
  background-color: #f0f2f5 !important;
  border: none !important;
  border-radius: 0.5em !important;
  margin-bottom: 1% !important;
}
.ql-toolbar .ql-snow {
  background-color: #f0f2f5 !important;
  border: none !important;
  margin-bottom: 1% !important;
}
